html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #SD9CEC;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.leah-panel {
    position: relative;
    width: 100%;
}

.leah-header-panel, .leah-body-panel {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.leah-body-panel {
  display: block;
}

.leah-footer {
  text-align: center;
  font: bold 14px/24px Helvetica, Sans-Serif;
  color: #FFF;
  padding-top: 100px;
}

.panel-section-title {
  color: #FFC800;
  font: bold 22px Helvetica, Sans-Serif;
}

.body-text {
  font: 20px Helvetica, Sans-Serif;
}

.contact-me {
  padding-top: 40px;
  font: bold 14px Helvetica, Sans-Serif;
}

.separate-panels {
  padding-top: 10px;
}
