body {
    font-size: 14pt;
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #E1F5C4; /*light gray*/
}

.block-txt {
    display: block;
    background-color: white;
    padding: 5px;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
}

h3 {
   font-size: 16pt;
}
#prof-pic {
    display: block;
    width: 300px;
    height: 450px;
    margin: auto;
}

.bulletin {
   display: block;
   text-align: center;
   height: 50px;
   width: 100%;
}

.info {
   font-size: 14pt;
   text-align: center;
   height: 25px;
   width: 100%;
   padding-bottom: 10px;
}
